{% extends 'base.html' %}

{% block title %}
Главная страница :: {{ block.super }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}

{% for item in posts %}

<div class="card mb-3">
    <div class="card-header">
      Автор: <a href="{% url 'get_users' item.author.username request.user.pk%}">{{item.author}}</a>
    </div>
  <div class="card-body">
    <div class="media">
      <div class="media-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.content|linebreaks|truncatewords:150}}</p>
        <a href="{% url 'view_post' item.pk %}" class="btn btn-primary">Read more...</a>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    {{item.date_created|date:"Y-m-d H:i"}}
  </div>
</div>
{% endfor %}
{% endblock %}


