{% extends 'base.html' %}

{% block title %}
{% for item in posts %}
{{item.author}} :: {{ block.super }}
{% endfor %}
{% endblock %}


{% block content_dop %}
<div class="col-md-2">
    <h3 class="border-left"> Мои подписчики </h3>
    <div class="list-group">
        {% for follow in followers %}
        <a href="{% url 'author_name' follow %}" class="list-group-item list-group-item-action">{{follow.user_from}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}



{% block content %}


<form class="button mb-3" action="{% url 'new_post' request.user %}">
    <button>Новый пост</button>
</form>



{% for item in posts %}

<div class="card mb-3">

    <div class="card-body">
        <div class="media">
            <div class="media-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.content|linebreaks|truncatewords:150}}</p>
                <a href="{% url 'view_post' item.pk %}" class="btn btn-primary">Read more...</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{item.date_created|date:"Y-m-d H:i"}}
    </div>
</div>
{% endfor %}

{% endblock %}
