{% extends 'base.html' %}

{% block title %}
{% for item in posts %}
{{item.author}} :: {{ block.super }}
{% endfor %}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
    {% if request.user.is_authenticated %}
    <form class="button mb-3" action="{% url 'new_post' request.user %}">
      <button>Подписаться</button>
    </form>
    {% endif %}
{% for item in posts %}

<div class="card mb-3">
  <div class="card-header">
    Автор: {{item.author}}
  </div>
  <div class="card-body">
    <div class="media">
      <div class="media-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.content|linebreaks|truncatewords:150}}</p>
        <a href="{% url 'view_post' item.pk %}" class="btn btn-primary">Read more...</a>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    {{item.date_created|date:"Y-m-d H:i"}}
  </div>
</div>
{% endfor %}
{% endblock %}

